/load_introspection/mutation_parameter_list.yml
/load_introspection/object_list.yml
/load_introspection/query_parameter_list.yml
/output
embed_retrieve/faiss_index/metadata.json
embed_retrieve/faiss_index/index.faiss